*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
  background-color:  rgb(37, 46, 71);
}

.main{
  width: 350px;
  height: 500px;
  margin: auto;
  background-color: rgb(192, 176, 176);
  box-shadow: 0px 0px 3px 0px rgb(192, 176, 176);
  /* border: 2px solid rgb(192, 176, 176); */
  /* border: 2px solid red; */
}

h1{
  height: 60px;
  padding: 8px;
  margin: 150px 0px 40px 0px;
  text-align: center;
  /* color: rgb(192, 176, 176); */
  color: white;
  background-color:  rgb(37, 46, 71);
  /* border: 2px solid blue; */
}

.incdec{
  display: flex;
  height: 60px;
  width: 350px;
  /* border: 2px solid black; */
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  font-size: larger;
  padding: 10px;
  width: 150px;
  margin: auto;
  flex-direction: row;
  color: white;
  /* color: rgb(192, 176, 176); */
  background-color:  rgb(37, 46, 71);
  /* border: 2px solid brown; */
}

button:hover{
  /* color: black; */
  background-color: rgb(50, 64, 102);
}

/* background-color: rgb(192, 176, 176); safedee 
background-color:  rgb(37, 46, 71); narangi*/